.btn { 
	padding: 0.4em 1em; 
	border: 1px solid gray;
	border-radius: 0.5em; 
	background: linear-gradient(#fff, #ddd);
	text-decoration: none;
	color: black;
	display: inline-block; }
.btn:active { -ms-transform: translateY(2px); -webkit-transform: translateY(2px); transform: translateY(2px); background: #ccc; }
table { border-collapse: collapse; width: 100%; }
table td { padding: 4px; border: 1px solid gray; }
table th { padding: 4px; border: 1px solid gray; background-color: #eee; }